@charset "UTF-8"; 

body{
  margin: 0;
}
/*.logo:hover{
  opacity: 0.7;
}
*/
a{
  color: #5507FF;
  text-decoration: none;
}
a:hover{
  opacity: 0.6;
}
a:visited{
  color: #5507FF;
}


.navi{
  margin: 0;
  padding: 30px;
  width: 250px;
  color: black;
  text-align: center;
  background-color: white;
}
.navi:hover{
  background-color: black;
}
.navi a{
  text-align: center;
  display: block;
  width: auto;
  height: auto;
  color: black;
}
.navi a:hover{
  color: white;
}
.navi a p{
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  text-align: center;
}


.HOME{
  border:1px solid black;
}
.aboutgcc{
  border:1px solid black;
}
.ichiran{
  border:1px solid black;
}
.news{
  border:1px solid black;
}