@charset "UTF-8"; 

/*基本設定--------------------------------------------*/
body{
  margin: 0;
  color: #406485;
}
a{
  color: #5507FF;
  text-decoration: none;
  background: #eee;
}
a:hover{
  opacity: 0.6;
}
h1{
  font-size: 30px;
}
/*サイドメニュー------------------------------------------*/
.sidemenu{
  float: left;
  width: 250px;

  position: fixed;
}
.sidemenu ul{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #2c7cff;
}
.sidemenu li{
  border-bottom: 1px solid #a16eff;
}
.sidemenu li a{
  transition: transform 0.3s linear;
}
.sidemenu a{
  display: block;
  padding : 45px 15px;
  text-decoration: none;
  color: #406485;
  background: white;
}
img.gcc-logo{
  vertical-align: middle;
  padding: 0;
  width: 250px;
  height: 110px;
  max-width: 100%;
  max-height: 100%;
}
.sidemenu li:first-child:hover{
  background: white;
}
.sidemenu li:last-child{
  border-bottom: none;
}
.sidemenu li:hover{
  background: #ccf;/* #eee*/
}
.sidemenu li a:hover{
  transform: translate(-40px,0px);
}
.sidemenu li a.current{
  background: #ccc;
}
/*右側設定------------------------------------------*/
.page{
  overflow: hidden;
}
.maincontents{
  float: right;
  width: 1070px;
  margin: 0 20px 0 0;
  margin-left: 251px;
}  /*background: yellow;*/
.main-center{}
h1{
  margin: 20px 0;
}
/*GCCについて-----------------------------------------*/
.main-center img{
  position: relative;
  top: 20px;
  left: 280px;
  height: 40%;
  width: 40%;
  margin: 0 0 40px 0;
}
/*ゲームで遊ぶ-----------------------------------------*/
.maincontents iframe{
  position: relative;
  left: 70px;
  padding: 40px 20px 40px 20px;
  width: 407px;
  height: 407px;
  overflow: hidden;
}



















