@charset "UTF-8"; 

body{
  margin: 0;
}
/*.logo:hover{
  opacity: 0.7;
}
*/
a:link{
  color: #111111;
}
a:hover{
  color: #B384FF;
}
a:visited{
  color: #5507FF;
}

.navi{
  margin-bottom: 10px;
  padding:30px 0;
  width:300px;
}
.navi p{
  margin: 0;
  text-align: center;
  color: #fff;
}
.navi:hover{
  color: #EEE;
}
.HOME{
  background-color: #38a3a5;
}
.aboutgcc:{
  background-color: rgba(230,135,135,1.0);
}
.ichiran{
  background-color: hsla(35,80%,60%,1.0);
}
.news{
  background-color: skyblue;
}

