@charset "utf-8";

body{
  margin: 0;
}
.all{
  overflow: hidden;
}
.side{
  float: left;
  width: 300px;
  background: green;
}
.mainco{
  float: right;
  width: 100%;
  background: yellow;
}
.maincon{
  margin-left: 360px;
}